body {
	background-color: #e6ffe6;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 8%;
	background-color: hsl(120, 100%, 6%);
	z-index: 1;
}
#logo {
	float: left;
	position: relative;
	top: 5px;
	left: 5px;
	width: 40px;
	height: 40px;
}
#headname {
	position: relative;
	top: -12px;
	left: 20px;
	color: white;
}
#topic {
	position: absolute; 
	left: 0;
	top: 3%;
	width: 100%;
	height: 15%;
	font-size: 40px;
	font-family: Lucida Console;
	text-align: center;
	color: black;
}
nav {
	position: absolute;
	top: 23%;
	width: 100%;
	height: 5%;
	left: 0;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #009973;
	overflow: hidden;
	padding-left: 15%;
}
li a:link{
	float: left;
	padding-left: 2%;
	padding-right: 2%;
	font-family: verdana;
	font-size: 23px;
	text-decoration: none;
	color: black;
	border-left: solid 1px black;
	border-right: solid 1px black;
}
li a:visited{
	color: #0a1010;
}
li a:hover{
	color: white;
	background-color: #001a00;
}
li a:active{
	color: white;
	background-color: #001a00;
}
#description {
	position: absolute;
	left: 0;
	top: 28%;
	height: 2%;
	text-indent: 50px;
	border-style: outset;
	background-color: #bdcebe;
	font-family: times new roman;
	font-weight: bold;
	font-size: 21px;
}
article {
	position: relative;
	top: 300px;
}
.CauseEffect {
	position: relative;
	top: 300px;
	background-color: #009973;
	border-style: inset;
	border-radius: 20px;
	text-align: center;
}
.title {
	top: 50px;
	margin-left: 40px;
	margin-right: 40px;
	height: 50px;
	padding-top: 10px;
	font-size: 30px;
	font-family: georgia;
	font-style: bold;
	background-color: #80ffc1;
	border-radius: 40px;
}
.paragraph {
	text-align: justify;
	margin-left: 10px;
	margin-right: 10px;
	font-family: helvetica;
	font-size: 20px;
	text-indent: 50px;
	color: white;
	overflow: hidden;
}
.images {
	border-radius: 30px;
	transition: 1s;
}
.images:hover {
	transform: scale(0.5);
}
#socmeds {
	position: absolute;
	right: 1%;
	top: 10px;
}
div {
	float: left;
	border-radius: 100%;
	margin-right: 10px;
}
#bttn {
	opacity: 0;
}
footer {
	position: absolute;
	bottom: -100%;
	width: 100%;
	left: 0;
	text-align: center;
	font-size: 25px;
	padding-bottom: 10px;
	background-color: #94b8b8;
}
#facebook {
	background:url("../../images/icon.png") no-repeat -182px -17px;
	width: 32px;
	height: 32px;
	}
#facebook:hover { 
	background:url("../../images/icon.png") no-repeat -182px -91px;
	width: 32px;
	height: 32px;
	}
#twitter {
	background:url("../../images/icon.png") no-repeat -296px -16px;
	width: 32px;
	height: 32px;
	}
#twitter:hover { 
	background:url("../../images/icon.png") no-repeat -296px -91px;
	width: 32px;
	height: 32px;
	}
#instagram {
	background:url("../../images/icon.jpg") no-repeat -240px -16px;
	width: 32px;
	height: 32px;
	filter: brightness(130%);
	}
#instagram:hover { 
	background:url("../../images/icon.jpg") no-repeat -240px -91px;
	width: 32px;
	height: 32px;
	}
#github {
	background:url("../../images/icon.png") no-repeat -412px -16px;
	width: 32px;
	height: 32px;
	}
#github:hover { 
	background:url("../../images/icon.png") no-repeat -412px -91px;
	width: 32px;
	height: 32px;
}
